* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #f1f1f1;
    background-color: #0f0f1e;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid #464646;
    background-color: #101230;
    min-height: 12vh;
    padding: 1rem;
}

.header-container > h1 {
    font-size: clamp(24px, 3vw, 36px);
    letter-spacing: 1px;
}

.task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.task-form > input {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
}

.task-form > input:focus {
    outline: 1px solid #E8FF47;
}

.task-form > button {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    height: 2rem;
    padding: 0 0.5rem;
    font-size: clamp(11px, 1.8vw, 16px);
}

.task-form > button:focus {
    outline: 1px solid #E8FF47;
}

.tasks-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #101230;
    gap: 1rem;
    padding: 10px;
    min-height: 80vh;
    margin: 0 auto;
}

.list{
    font-family: 'Instrument Sans', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #101230;
    padding: 10px;
    font-size: clamp(18px, 2.5vw, 30px);
    text-align: left;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-do > .list-header > h5{
    color: #E8FF47;
}

.in-progress > .list-header >h5{
    color: #47E8FF;
}

.done > .list-header >h5{
    color: #47FF8C;
}

.list > .list-header {
    border-bottom: 1px solid #464646;
    padding: 0.2rem 0.5rem;
}

.task-card {
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 16px);
    background-color: #1a1a2e;
    border: 1px solid #464646;
    padding: 10px;
}

.task-card:hover {
    border: 1px solid #fff;
}

.task-actions {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
}

.task-card:hover .task-actions {
    display: flex;
}

.task-actions button {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1.5vw, 14px);
    letter-spacing: 0.5px;
    padding: 0.2rem 0.5rem;
    background-color: #1a1a2e;
    border: 1px solid #464646;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
}

.task-card:hover .task-actions button:hover {
    background-color: #464646;
}

.task-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.task-detail > span {
    font-size: clamp(8px, 1.2vw, 10px);
    text-align: right;
}

.delete-icon {
    display: block;
    width: 1rem;
    height: 1rem;
}

.move-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        height: auto;
    }

    .tasks-container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .task-form {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .task-form > input {
        flex: 1;                /* L'input occupa tutto lo spazio disponibile */
        min-width: 200px;
    }

    .task-card {
        display: flex;
        flex-direction: column;
    }

    .task-actions {
        display: flex !important;
        flex-wrap: wrap;
    }


}